@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
}
.signin {
    font-weight: 900;
    color: #04252b;
}

.signinjsx button {
    background-color: #04252b;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 88%;
    margin-top: 10px;
}
.signinjsx button:hover{
    transition: 0.11s ease-in-out;
    opacity: 0.9;
    cursor: pointer;
}


.signinjsx {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #f5f3eb;
}
.signinjsxchild{
    background-color: #f5f3eb;
    align-self: center;
    margin: 3rem;
    box-shadow: 0 0 2rem #00000042;
    border: 1px solid #e8e8e8;
    border-radius: 1.5rem;
    padding: 3rem;
    width: 25%;
}
.signinjsxchild > h2{
    color: #04252b;
    font-weight: 500;
}
.workuplogo {
    color: #04252b;
    font-style: italic;
    margin-bottom: -10px;
}

.workuplogo span {
    color: black;
}
.message-email {
  color: #8b2f2f;
  margin-bottom: 15px;
  border-radius: 10px;
}
.inputerchild {
    height: 37px;
    background-color: #f5f3eb;
    border: 1px #847d7d6e solid;
    border-radius: 5px;
    padding-left: 5px;
    width: 84%;
    margin-bottom: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
}
.inputerchild::placeholder{
    color: #04252b;
}
.inputerchild:hover{
    transition: 0.1s ease-in;
    border: 1px #000000 solid;
}
.inputerchild:focus{
    border: 2px #000000 solid;
    box-shadow: none;
    outline: none;
}
.donthave {
    margin-left: 0px;
}
.signup{
    
color: #04252b;
}
.signup:hover{
    transition: 0.11s ease-in-out;
    opacity: 0.5;
}

.condition{
    margin-top: 0px;
    opacity: 0.8;
    font-size: 13px;
    width: 84%;
}
.terms{
    text-decoration: underline;
}
.terms:hover{
    transition: 0.11s ease-in;
    opacity: 0.5;
    cursor: pointer;
}
@media screen and (max-width: 1047px) {
    .signinjsxchild{
        width: 30%;
    }
}
@media screen and (max-width: 900px) {
        .signinjsxchild{
        width: 40%;
    }
}
@media screen and (max-width: 800px) {
        .signinjsxchild{
        width: 50%;
    }
}
@media screen and (max-width: 552px) {
        .signinjsxchild{
        width: 60%;
    }
}